@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: url("../image/Fon.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.wrapper{
    max-width: 1264px;
    padding: 48px 16px 120px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 197px;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #ffffff;
}
.account-circle{
    margin-left: 24px;
}
.item-night{
    margin-left: 48px;
}
.item-attractions{
    margin-left: 24px;
}
h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    Font-size: 50px;
    font-weight: 500;
    font-style: normal;
    line-height: 58px;
    margin-bottom: 145px;
}
.search-form{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 64px;
    width: 100%;
    border: 8px #ffe61b;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 120px;
    /*position: relative;*/
}
.city{
    width: 38%;
}
.day{
    width: 21%;
}
.room{
    width: 25%;
}
/*.text-1 {*/
/*    position: absolute;*/
/*    top: -59px;*/
/*    color: #ffffff;*/
/*    padding-top: 10px;*/
/*    padding-left: 25px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    Font-size: 18px;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
.indent{
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    border: none;
    padding-left: 25px;
    border-radius: 8px;
}
.submit{
    width: 16%;
    background-color: #3077c6;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    border-radius: 8px;
    font-style: normal;
    border: 0;
}
.googleappstore{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 480px;
    /*padding: 118px 754px 120px;*/
}
.row{
    display: flex;
}
.item-4{
    width: 25%;
}
.container-2{
    max-width: 1264px;
    padding: 120px 16px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
h2{
    margin-bottom: 105px;
}
.icon-wrap{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 47px;
}
.title-font{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    Font-size: 40px;
    font-weight: 500;
    font-style: normal;
}
.homes-guests-loves{
    background: #EAF0F9;
}
.row-2{
    display: flex;
}
.homes-picture{
    width: 25%;
}
.picture-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.hotel-names{
    margin: 16px 0 24px 5px;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #3077c6;
}
.country{
    margin: 16px 0 24px 5px;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #BFBFBF;
}

.regions{
    height: 64px;
    width: 192px;
    border-radius: 8px;
    background-color: #ffffff;
}
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 64px;
    height: 64px;
    width: 100%;
}
.radio-input{
    display: none;
    width: 206px;
    border-radius: 8px;
}
.radio-label{
    padding: 16px 52px;
    font-family: 'Roboto', sans-serif;
    Font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #383838;
    background: #F3F3F4;
    cursor: pointer;
    transition: background 0.1s;
    border-radius: 8px;
}
.radio-label:not(:last-of-type) {
    border-right: 1px solid ##F3F3F4;
}
.radio-input:checked + .radio-label{
    background: #3077c6;
    color: #ffffff;
}
/*.sing-up{*/
/*    width: 1232px;*/
/*    height: 200px;*/
/*    background: #EAF0F9;*/
/*}*/
.pc:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.footer{
    background: #10367C;
    color: #ffffff;
}
.footer-nav{
    display: flex;
    flex-wrap: wrap;
    line-height: 47px;
    list-style-type: none;
}
.menu-footer-1{
    width: 33%;
    list-style-type: none;
}
.menu-footer-2{
    width: 33%;
    list-style-type: none;
}
.menu-footer-3{
    width: 33%;
    list-style-type: none;
}
.column-head {
    font-family: 'Roboto', sans-serif;
    Font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}
.column{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    Font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}
.column-head:hover, .column-head:focus, .column-head:active{
    opacity: 0.75%;
}
.column:hover, .column:focus, .column:active{
    opacity: 0.75%;
}
.rectangle {
    padding-top: 47px;
}
.rectangle-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    Font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 360px){
    .header-wrapper{
        margin-bottom: 52px;
    }
    .header-list{
        font-size: 12px;
    }
    h1{
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .search-form{
        display: block;
        height: 64px;
        border: 5px #ffe61b;
    }
    .city{
        width: 100%;
        height: 64px;
    }
    .day{
        width: 100%;
        height: 64px;
    }
    .room{
        width: 100%;
        height: 64px;
    }
    .submit{
        width: 100%;
        height: 64px;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title-font{
        font-size: 28px;
    }
    .item-4{
        width: 100%;
        margin-bottom: 15px;
    }
    .text-center{
    font-size: 15px;
    }
    .row-2{
        width: 100%;
    }
    .homes-picture{
        width: ;
    }
   .pc{
       width: 156px;
       height: 156px;
   }
    .hotel-names{
        font-size: 12px;
    }
    .country{
        font-size: 12px;
    }
}
